<header class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1>Stwórz
                <small>zamówienie</small>
            </h1>
        </div>
    </div> <!-- /.row -->
</header>

<section class="container" ng-controller="sendController">
    <div class="row" ng-show="showAddAlert">
        <div class="alert alert-success">
            <a class="close fade in" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Sukces!</strong> Zamówienie <strong>{{aName}}</strong> zostało złożone!
        </div>
    </div>
    <div class="row" ng-show="showErrorAlert">
        <div class="alert alert-danger">
            <a class="close fade in" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Error!</strong> {{message}}
        </div>
    </div>
    <tshirt-form></tshirt-form>
    <order-send></order-send>
    <br>
</section>